# Object files
TAGS
cscope.out
cscope.files
*.o
*.abs
*.elf
*.pyc
*.elf
*.s19
*.cmd
*.exe
*.stg
*.glo
*.map
*.tdt
*.xpr
.settings

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# others
*.htm
*.doc
*.html

# directories
OpenAPP/
OpenRTOS/mak/9s12xep100/CW
#OpenRTOS/mak/9s12xep100/cw_make
OpenRTOS/out
OpenRTOS/test

